<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ymdb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ymdb.Properties.Settings>
            <setting name="SqlConnection" serializeAs="String">
                <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Yamdb;Data Source=DESKTOP-342P1HM</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleId" serializeAs="String">
                <value />
            </setting>
        </ymdb.Properties.Settings>
    </userSettings>
</configuration>